# min   hour    dom   mon   dow   command

  30    23       *     *     *     coffee bin/index-update.coffee
  45    22       *     *     *     coffee bin/index-prune.coffee
  15    6/*      *     *     *     bin/clean-cache.sh
