<div class="container">
	<form class="form">
		<div class="form-group">
			<label for="searchPhrase">Search phrase</label>
			<input type="text" class="form-control" id="searchPhrase" [(ngModel)]="searchPhrase" placeholder="&quot;Redbeak&quot;, &quot;Shav&quot;">
		</div>
		<div class="row text-right">
			<button type="button" class="btn btn-default" (click)="reload()">Search</button>
			<spinner [size]="16" [color]="#262323"></spinner>
		</div>
	</form>
	<div class="container-fluid">
		<div class="row" [hidden]="range.length > 0">
			<div class="col-lg-12">
				<h3>Average prices by currency</h3>
			</div>
			<div class="col-lg-12">

			</div>
		</div>
		<div currency-row [currency]="currency" *ngFor="let currency of range"></div>
	</div>
	<div class="container-fluid">
		<div class="row" [hidden]="items.length > 0">
			<div class="col-lg-12">
				<h4>Results</h4>
			</div>
		</div>
		<div class="row">
			<div pricing-row [item]="item" *ngFor="let item of items"></div>
		</div>
	</div>
</div>
