<div class="navbar navbar-inverse navbar-fixed-top" role="banner">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-fw fa-list-alt"></i>
            </button>
            <a class="navbar-brand" href="#"><i class="fa fa-fw fa-bullseye"></i> Sniper</a>
        </div>
        <nav id="navbar-main" class="collapse navbar-collapse" role="navigation" nav-bar></nav>
    </div>
</div>